# Talon runtime / caches
*.pyc
__pycache__/
.log/
logs/
state.json

# OS junk
.DS_Store
Thumbs.db

#UI scaling/ other fixes for laptop
ui_scale.talon
community/core/system_paths-soup-AERO-15-SA.talon-list

#python venv
.venv/
